
					 ul.custompolicys li::marker {
    color: #ab8e6e;
}
					 .offer .custompolicys li {
    list-style: square;
    margin-left: 15px;
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 26px;
    font-style: normal !important;
    margin-bottom: 6px;
}
					 .offer .rates-from h2{font-family: 'Roboto' !important;
    color: #ab8e6e;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;}
					 .buttonhoolds2#buttonlinesd2 {
    float: inherit;
    text-align: center;
    margin: auto;
    width: 120px;
    margin-top: 12px;
    font-size: 12px;
    line-height: 36px;
    height: 36px;
    padding: 0px 20px !important;
}
					 .offer #about920 img {
    border: 1px solid #ccc;
    border-radius: 6px;
}
#serivceksdf234.serivicegrezns #buttonlinesd2 {
    padding: 0px;
    border-radius: 6px;
    font-family: 'Roboto' !important;
}
					 .oppraras{font-family: 'Roboto' !important;
    line-height: 18px;    padding-top: 4px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0px;}
	
					 .offer #smallboxsd .roomspan2 {
      letter-spacing: 1px;
    width: auto !important;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #ab8e6e5c;
    margin: auto !important;
    padding-bottom: 30px;
    padding-top: 0px;
    font-family: 'Roboto' !important;
    text-transform: capitalize;
}

#headingedkjiid {
    padding-bottom:0px !important;
}
.offer #smallpenalsd #contact-full11 {
    margin-top: -168px;    border-radius: 6px;
}
 .offer #contact-full11 {
    background: #fff;
    display: block;
    float: left;
    padding: 6px 10px 7px;
    height: 168px;
}
					 .offer .offerbodxsd{
    display: block;
    padding: 0px 0px 0px;
    box-shadow: 0px 0px 9px 1px #ab8e6e;
    margin-top: 0;
    border-radius: 6px;
    float: left;
    width: 97%;
    margin: 0px 1%;
}
.offer article.rates-info h1 {
    background: #ab8e6e;
    color: #fff;
    font-size: 25px;
    padding: 25px;    font-family: 'Roboto';

}
#smallpenalsd #contact-full11 {
    margin-top: -175px;}
.offerbodsd{padding:10px 20px;}
.offer .description-inner-bedtype{    padding: 0px 25px 25px;}
.offer #buttonlinesd2{ float: inherit;
    text-align: center;
    margin: auto;
    width: 120px;
    margin-top: 12px;
    font-size: 12px;
    line-height: 36px;
    height: 36px;}
	.long-description.row a#buttonlinesd {
    float: left;
    margin-left: 0px;
    background: #ab8e6e;
    color: #fff;
    border-radius: 6px;
}
	.long-description.row {
    padding: 35px 0px;
}
.room-ctas ul.share-none {    margin: 0px auto 10px;
    width: 85%;}
	.soc-sha {
    background: #cbc3ba;
    display: block;
    margin-top: 0px;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    padding: 10px 25px 0px;
    height: 60px;
}
a.viewsm2a {
    background-color: #ab8e6e;
    color: #fff;
    padding: 10px 27px !important;
    width: 130px;
    height: 40px;
    border-radius: 6px;
}
.social-share a {
    font-size: 12px;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    display: block;
    padding: 5px 0;
    border-radius: 50%;
    margin: 0 auto;
}
#share24 {
    font-size: 15px;
    font-family: dallas light !important;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 32px;
    margin-right: 10px;
}
.room-ctas li.social-share {
    display: block !important;
    margin-top: 5px;
}
				
/***offersdfdsfl,sd***/
.c-1lykda {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 256px;
    border: solid 1px #eeeff0;
    border-bottom: none;
    border-right: none;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 33.3333333%;
    -ms-flex-preferred-size: 33.3333333%;
    flex-basis: 33.3333333%;
    padding: 30px;margin-top:20px;
}
	.c-1lykda:last-child {
    border-right: solid 1px #eeeff0;    border-bottom: 1px solid #eeeff0;
}			
		.c-1w9fqkr {
    position: absolute;
    top: 25px;
    right: -24px;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
    padding: 3px 20px;
    width: 115px;
    z-index: 2;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color: #f5a623;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.c-16pv1i8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 142px;
    background-color: #000;
    position: relative;
    z-index: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    border: solid 2px transparent;
    border-bottom-width: 6px;
    width: 100%;
    border-radius: 8px;
    border-color: #c59e62;
    color: #c59e62;
}
.w-tier-wrapper, .w-tier-wrapper * {
    box-sizing: border-box;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.c-2kb8gt svg {
    height: auto;
    width: auto;
}
svg:not(:root) {
    overflow: hidden;
}
.c-15bpsvr {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0;
}
.c-1rwzck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.c-7sjuw3 {
    font-size: 20px;
    font-weight: bold;
}
.c-bxeize {
    margin-left: 2px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.54;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}		
			span.w-icon-default.c-2kb8gt img, span.w-icon-default.c-zvo698 img, span.w-icon-default.c-lb3ojr img{
    width: 45px !important;
    height: auto !important;
    border: none !important;
}
.offer .description-inner-bedtype .col-md-5 {
    border-left: 1px solid #ccc;
    padding-left: 25px;
}	
				
				
				/**dfdsfsd***/		
				
				.member section#bookinginersd .hotel-form {
 box-shadow: 0px 1px 4px 1px #ab8e6e;
    border-radius: 9px;
    margin-top: 95px;
    background: #fff;
    height: 155px;
}
.c-12d5dhi {
    margin: 0;
    margin-bottom:0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    -webkit-letter-spacing: -0.09px;
    -moz-letter-spacing: -0.09px;
    -ms-letter-spacing: -0.09px;
    letter-spacing: -0.09px;
}
.w-title-container .list-item {
    opacity: .87;
    font-size: 14px;
    line-height: 1.43;
}
li.circle-bullets.show-list-style {
    list-style-type: circle;
    list-style-position: inside;
}
.list-heading {
        line-height:45px;
    color: #ab8e6e;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}
.list ul {
    padding: 0px;
}
.list {
    padding:20px 25px 0px
}
div#reservation34 .list {
    padding:25px 25px 0px
}
span.list-item {
    color: #1b1b1b;
    letter-spacing: 1px;
    font-size: 12px;
}

li.circle-bullets.show-list-style::marker {
    color:#1b1b1b;
font-size: 18px;}



.reservationa .form-group {
    width: 48%;
    float: left;
    margin:0px 1% 10px !important;}
.wizard-video-card.dark {
    width: 95%;
    background-color:hsl(0deg 0% 0% / 86%);
    display: block;
    padding-top: 20px;
    margin-top:30px;
}
.wizard-video-card {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
    border-left: 5px solid #508cd3;
    cursor: pointer;
    width: 100%;
    height: 96px;
    border-radius: 4px;
    overflow: hidden;
}

.wizard-video-card .video-heading {
 font-size: 16px;
    font-weight: 700;
    color: #e5e3d7;
    text-align: left;    letter-spacing: 1px;
}
.wizard-video-card * {
    box-sizing: border-box;
}
.wizard-video-card .video-subHeading {
font-size: 12px;
    color: rgb(255 255 255);
    line-height: 1.25;
    margin-top: 4px;
    text-align: left;
    letter-spacing: 1px;
}
.wizard-video-card .video-w {
    position: absolute;
    bottom: -20px;
    left: -6px;
}
.wizard-video-card .video-thumbnail img {
    max-width: 100px;
    max-height: 60px;
    border-radius: 6px;
}


section.video-text {
    float: left;
}
section.video-thumbnail {
    float: right;
}

.c-1xoew6e {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 142px;
    background-color: #000;
    position: relative;
    z-index: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    border: solid 2px transparent;
    border-bottom-width: 6px;
    width: 100%;
    border-radius: 8px;
    border-color: #b7b8bb;
    color: #b7b8bb;
}
.c-15bpsvr {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0;
}
.c-1rwzck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.c-ydrg6r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 142px;
    background-color: #000;
    position: relative;
    z-index: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    border: solid 2px transparent;
    border-bottom-width: 6px;
    width: 100%;
    border-radius: 8px;
    border-color: #508cd3;
    color: #508cd3;
}
.c-15bpsvr {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0;
}
.c-1rwzck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.wezardgeed .c-1lykda{border:0px solid #c8c8c8;    border-bottom: none;
}
.wezardgeed .c-1lykda:last-child {
border-right: solid 0px #c8c8c8;}

.wezardgeed{padding:150px 0px 70px !important}

.policy__table td, .policy__table th {
  padding:0px;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px solid #ab8e6e38;
    background: #e5e3d7;
    width:25%;text-align:center;
}
.c-7sjuw3 {
    font-size: 20px;
    font-weight: bold;
}
.c-nm5891 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
    opacity: 0.54;
    font-size: 14px;
}
.sdlkflkdfk .c-7sjuw3 {
    font-size: 20px;
    font-weight: bold;
    color: #ab8e6e;
    font-family: 'Roboto';
    text-align: left;
    padding-left: 30px;    line-height: 15px;
}
.c-1df9d2f.sdlkflkdfk .c-nm5891 {
    color: #000;
    padding-left: 20px;
}
.policy__table009 .c-ydrg6r, .policy__table009 .c-1xoew6e, .policy__table009 .c-16pv1i8 {
    height: 185px;
}
.policy__table009 .c-1lykda {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 290px;
    border: solid 0px #eeeff0;
    border-bottom: none;
    border-right: none;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 33.3333333%;
    -ms-flex-preferred-size: 33.3333333%;
    flex-basis: auto;
    padding: 8px;
    margin-top: 0px;
}
table.policy__table.policy__table009 i.far.fa-check-circle {
    font-size: 25px;
    color: #ab8e6e;
}
table.policy__table.policy__table009 p{
    text-align: left;
    font-family: 'Roboto' !important;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    float: left;
    padding-left: 14px;
}
.c-1lykda.c-1lykda1 p{    text-align: center !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #ab8e6e;}
	table.policy__table.policy__table009 i.far.fa-times-circle{
    font-size: 25px;
    color: #ab8e6e;
}
.w-payment-btn {
    height: 48px;
    border-radius: 45px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
	font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 13px;font-weight:600;
}

.c-xh6qsl {
    background-image: linear-gradient(
102deg
,#508cd3,#508cd34d 49%,#508cd3);
    cursor: pointer;
}
.c-1ooki6t {
    background-image: linear-gradient(
102deg
,#b7b8bb,#b7b8bb4d 49%,#b7b8bb);
    cursor: pointer;
}
.c-dg9d07 {
    background-image: linear-gradient(
102deg
,#c59e62,#c59e624d 49%,#c59e62);
    cursor: pointer;
}


.w-plan-wrapper .w-lite-section-desktop {
    height: 136px;
    width: 220px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 32px;
    text-align: center;
    background-color: #000;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid transparent;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.w-plan-wrapper .w-lite-section-desktop:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
45deg
,hsla(50,30%,96%,0),transparent 16%,#edf5fb 38%,hsla(210,2%,83%,0) 53%,#000 64%,#fff 91%),linear-gradient(
180deg
,#000,#000);
    opacity: .2;
    z-index: 0;
    z-index: -1;
}
.w-plan-wrapper .w-test {
    border-bottom: 4px solid #fff;
    height: 100%;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.w-plan-wrapper .w-lite-text-dektop {
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2px;
}
.w-plan-wrapper .w-lite-content, .w-plan-wrapper .w-test {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
.w-plan-wrapper .w-lite-data-title-desktop {
    margin-bottom: 10px;    margin-top: 17px;
    font-weight: 700;
    font-size: 20px;
}
.w-plan-wrapper .w-lite-title-tag-desktop {
    background: #f5a623;  font-family: 'Roboto' !important;
    margin-left: 4px;
    border-radius: 3px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-positive: 0;
    flex-grow: 0;
    color: #fff;
    font-size: 10px;
    padding: 2px;
    letter-spacing: .8px;
}
.w-plan-wrapper .w-lite-data-subtitle-desktop {
    font-size: 16px;  font-family: 'Roboto' !important;
    color: rgba(0,0,0,.7);
}
.w-plan-wrapper .w-lite-info-label-wrapper-desktop {
    text-align: left;  font-family: 'Roboto' !important;
    height: 20px;
    border-radius: 45px;
    background: rgba(228,225,236,.3);
    margin: 16px 0;
    display: -ms-flexbox;
    display: block;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}


span.w-lite-info-label-desktop {
    letter-spacing: 1px;  font-size: 13px;
}
.w-plan-wrapper .w-lite-data-subtitle-desktop {
    font-size: 14px;
    font-family: 'Roboto' !important;
    color: rgba(0,0,0,.7);
    letter-spacing: 1px;
}


.col-lg-9.col-md-9.col-sm-9.col-12 .w-plan-wrapper {
    margin-top: 40px;
}
.mid-img p{ font-family: 'Roboto' !important;}
.rates-from .custompolicys{margin-top: 20px;
    display: block;
    float: left;} 

.rates-from .custompolicys li {
    font-family: 'Roboto' !important;
    float: left;
    width: 48%;letter-spacing: 1px;
    font-size: 13px;
}

.terms-conditionsss{padding:70px 0px;    background: #e5e3d7;}

div#faqExample .card-header.p-2 button.btn.btn-link{   text-align: left;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    color: #6e5840;
	}
div#faqExample {
    font-family: 'Roboto' !important;    margin-top: 30px;
}

div#faqExample .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 25px 20px;
    font-weight: 400 !important;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 30px;
    font-style: normal !important;
    font-family: 'Roboto';
}
div#faqExample .card {
    background-color: #fff0;
    margin-bottom: 20px;
    border: 1px solid #ab8e6e;
    border-radius: 6px;}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgb(0 123 255 / 25%);
}
div#faqExample .card-header {
    background: #e5e3d7 !important;    border-bottom: 1px solid rgb(171 142 110);
}


ul.nav.nav-tabs{    width:465px;
    margin: auto;}
	#tabfaq a.nav-link {
    background: #e3ccb4;
    height: 55px;
    padding: 0px 3px;
    line-height: 55px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Roboto' !important;
    color: #3a3a3a;
    border-bottom: 0px solid #fff;
}
div#tabfaq li.nav-item {
       width: 220px;
    text-align: center;
    height: 55px;
    margin: 1% 6px 0px;
}
#tabfaq .columns.small-12.rooms-filter {
    margin-bottom: 0px;
}

#reservation34{width:900px;height:308px !important;    border-radius: 6px !important;    margin-top: 100px !important;}

div#reservation34 .form-group p {
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 13px;
}
p.headingresss12 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom:0px;
}
div#reservation34 .list-heading {
    line-height: 45px;
    color: #ab8e6e;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
}
div#reservation34 input {
    background: #fff0;
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    font-size: 16px;
    padding-bottom: 0px;
    height: 60px;
    font-family: 'Roboto' !important;
}
button#btn_submit1 {
    background: #e5e3d7;
    padding: 4px 21px;
    width: 250px;
    height: 46px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 20px;
    color: #ab8e6e;
    letter-spacing: .2em;
    text-transform: uppercase;
}
button#btn_submit {
    border-radius: 6px;
}
.reservation000225{display:none;    padding-bottom: 40px;}
.divaridkldf h3{font-size:20px;font-family:"Roboto";}

.reservation000225 .first-list h3 {
    line-height: 30px;
    color: #ab8e6e;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
}
.reservation000225 .first-list p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 0px;
}
.reservation000225 .first-list {
    background: #fff;
    box-shadow: 0px 0px 7px 1px #ab8e6e;
    width: 400px;
    padding: 30px;
}
.divaridkldf {
    background: #fff;
    box-shadow: 0px 0px 8px 1px #ab8e6e;
    padding: 50px 50px;    border-radius: 6px;
}
.reservation000225 .divaridkldf h3 {
    line-height: 30px;
    color: #000000;#ab8e6e;
    text-transform: capitalize;
    font-weight:600;
    font-size: 22px;
    letter-spacing: 2px;    margin-bottom: 30px;
}
.reservation000225 .styled-select{float:right}
.reservation000225 .styled-select select {
    border: 1px solid #ab8e6e69;
    border-radius: 6px;
    width: 220px;
    padding: 5px;
    color: #3e3e3e;
    height: 40px;
    font-family: 'Roboto';
    letter-spacing: 1px;
}
.reservation000225 .divaridkldf p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 0px;
}
.reservation000225 .divaridkldf .breaks p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 0px;
}
.reservation000225 .divaridkldf .fast p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height: 20px;text-align:right;
    margin-bottom: 7px;
}
.reservation000225 .divaridkldf .fast a {
    font-size: 12px;
    font-weight:600;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height:20px;
    text-align: right;
    margin-bottom: 0px;
    width: 100%;
    display: block;
    color: #f70000;
}
.reservation000225 .seebookingres a {
    font-size: 12px;
    font-weight:600;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height:20px;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
    display: block;
    color: #f70000;
}
.reservation000225 .divaridkldf h4 {
    line-height: 15px;
    color: #865929;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.reservation000225 .divaridkldf h5 {
    line-height: 30px;
    color:#8e7456;    font-family: 'Roboto', sans-serif !important;
    text-transform: capitalize;
    font-weight:600;
    font-size:16px;
    letter-spacing: 2px;    margin-top: 0px;
        margin-bottom: 0px;
    text-align: right;
}
.one-bed .breaks h3 {
    line-height: 25px;
}
.reservation000225 .divaridkldf .one-bed .breaks .headingsection {
    padding: 0 0 10px;
    width: 500px;
    float: left;
}
.reservation000225 .divaridkldf h6 {
    line-height:40px;
    color: #8e7456;
    font-family: 'Roboto', sans-serif !important;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}
span.editprofiles {
        font-size: 12px;
    border: 1px solid #ab8e6e;
    background: #ab8e6e;
    padding: 0px 5px;
    line-height: 24px;
    color: #fff;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    float: unset;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
span.changepasswords{
        font-size: 12px;
    border: 1px solid #ab8e6e;
    background: #ab8e6e;
    padding: 0px 5px;
    line-height: 24px;
    color: #fff;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    float: unset;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
 #editpropassr .first-list h3 {
    line-height: 30px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
}
 #editpropassr .first-list p {
    font-size: 14px;
    font-weight: 600 !important;
    letter-spacing: normal;
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 0px;
    color: #515151;
}
input.editpros2 {
    width: 100%;
    border: 1px solid #ccc;
    font-family: 'Roboto' !important;
    font-weight: 500;
    font-size: 13px;
    margin-top: -5px;
    letter-spacing: 1px;
    border-radius: 6px;
    padding: 10px;
    height: 40px;
}
.rhods .first-list {
    border-radius: 6px;
}


form.editsddd input.editpros12 {
    width: 100%;
    border: 1px solid #ccc;
    font-family: 'Roboto' !important;
    font-weight: 500;
    font-size: 13px;
    margin-top: -5px;
    letter-spacing: 1px;
    border-radius: 6px;
    padding: 10px;
    height: 40px;
}
.editpros2{display:none;}
.editpros12 a {
    position: relative;
    background-color: #ab8e6e;
    font-family: 'Roboto' !important;
    font-size: 12px;
    line-height: 20px;
    color: #fff !important;
    letter-spacing: .2em;
    padding: 12px 35px;
    border-radius: 6px;
    margin-top: 20px;
    display: block;
    width: 120px;cursor:pointer;
}
.editpros2 a {
    position: relative;
    background-color: #ab8e6e;
    font-family: 'Roboto' !important;
    font-size: 12px;
    line-height: 20px;
    color: #fff !important;
    letter-spacing: .2em;
    padding: 12px 35px;
    border-radius: 6px;
    margin-top: 20px;
    display: block;
    width: 120px;cursor:pointer;
}
.editpros12{display:none;}



#editpros13 a {
    position: relative;
    background-color: #ffffff00;
    font-family: 'Roboto' !important;
    font-size: 12px;
    line-height: 20px;
    color: #f00 !important;
    letter-spacing: .2em;
    padding: 0;
    border-radius: 6px;
    margin-top: 20px;
    display: block;
    width: 142px;
    cursor: pointer;
    font-weight: 600;
}

#editpros14 a {
    position: relative;
    background-color: #ffffff00;
    font-family: 'Roboto' !important;
    font-size: 12px;
    line-height: 20px;
    color: #f00 !important;
    letter-spacing: .2em;
    padding: 0;
    border-radius: 6px;
    margin-top: 20px;
    display: block;
    width: 142px;
    cursor: pointer;
    font-weight: 600;
}


.editpros012 a {
    position: relative;
    background-color: #ab8e6e;
    font-family: 'Roboto' !important;
    font-size: 12px;
    line-height: 20px;
    color: #fff !important;
    letter-spacing: .2em;
    padding: 12px 35px;
    border-radius: 6px;
    margin-top: 20px;
    display: block;
    width: 120px;
    cursor: pointer;
}

#editpros13{display:none;}

.reservation000225 .col-md-8.col-sm-8.col-12 .hotel-form .list-heading {
    line-height: 40px;
    color: #ab8e6e;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
.reservation000225 .col-md-8.col-sm-8.col-12 .hotel-form span.list-item {
    color: #1b1b1b;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: 'Roboto' !important;
    line-height: 27px;
}
.reservation000225 .col-md-8.col-sm-8.col-12 .hotel-form {
    width: 100%;
    max-width: 100%;
    background: #fff;
    box-shadow: 0px 0px 8px 1px #ab8e6e;
    padding: 22px;
    height: 255px;
}
.proresevationd h3 {
    line-height: 20px;
    margin-bottom: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #000;
}
.card-body.text-center.prints{    padding: 0px;
    background: #ab8e6e;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto' !important;
    height: 40px;
    line-height: 40px;}


	.card.just.pridkjkd{text-align: left !important;
    background: #fff0 !important;
    border: none !important;
    padding: 0px;
    font-family: 'Roboto' !important;
    letter-spacing: 2px;
    font-size: 25px;}
	.card.just.pridkjkd .card-body.text-center{text-align: left !important;
    background: #fff0 !important;
    border: none !important;
    padding: 0px;color:#2798fd;
    font-family: 'Roboto' !important;
    letter-spacing: 2px;
    font-size: 25px;}
	h4.printsd12{color: #000 !important;
    font-weight: 600 !important;
    margin-bottom: 35px !important; }
	.printsd1234{margin-bottom:12px !important;}
	.printsd12344{margin-bottom: 12px !important;
    font-size: 15px !important;
    font-weight: 600 !important;}
	.printsd123445{    text-align: right;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 0px !important;
    font-family: 'Roboto' !important;
    font-size: 30px !important;
    padding-right: 20px;}
	
	
	.prints67 p{    font-size: 13px !important;
}
	
	
	
	
	.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-family: 'Roboto' !important;
}
	
	
	div#exampleModal2 button#btn_submit {
    padding: 9px 30px;
    font-family: 'Roboto' !important;
}
div#exampleModal2 input {
    font-family: 'Roboto' !important;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 44px;
    padding: 20px;
}
.firstpenals .nav-tabs{width:100% !important;}
#aboutsuse .headingsection .nav-tabs{width:100% !important;margin-bottom:20px;}
.headingsection.housdddd {
    margin-top: 40px;
}



